.container{
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Chakra Petch', sans-serif;
}

.heading{
  font-weight: 600;
  font-size: 20px;
}

.subheading{
  font-size: 18px;
  font-weight: 400;
}

textarea{
  width: 230px;
  height: 100px;
  margin: 15px 0;
}


