
<div class="container">
  <h2 class="heading">Oh, hello handsome</h2>
  <h3 class="subheading">Tell me what you think</h3>

  <div><input type="text" [(ngModel)]="post.title"></div>

  <div><textarea [(ngModel)]="post.content"></textarea></div>

  <button type="submit" (click)="addPost()">Submit</button>

  <app-post-list></app-post-list>
</div>


