/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,600,700');

.main-container{
  max-width: 1200px;
  margin: 0 auto;
}
